body {
    background-color: black;
    font-size: 5vw;
    font-family: "Rubik",sans-serif;
}
#text{
    width: 50vw;
}
a {
    color: white;    
    margin: 0rem;
    text-transform: uppercase;
}
.line {
    display: flex;
    justify-content: space-between;
}

/* indicates if the #text :has a .fancay word which :hovers  */

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    transition: 0.3s;
    opacity: 0.3;
}
.fancy:hover > .letter:first-child{
    
}